@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
  font-family: 'Roboto', sans-serif;
}



/* padding: top left bottom right
*/
body {
   padding: 50px 30px 0 25px;
   font-family: 'Roboto', sans-serif;
   font-size: 19px;
}



section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    width: 70%;
}


/* specs for reactable legends */
.cases-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
.cases-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
/* line-height affects separation between squares and size of text */
.cases-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 36px;
    margin-bottom: 2px;
}
/* height, width = size of the color squares */
.cases-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 32px;
    width: 60px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.cases-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}


/* specs for reactable legends */
.pos-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
.pos-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
/* line-height affects separation between squares and size of text */
.pos-legend .legend-scale ul li {
    font-size: 90%;
    list-style: none;
    margin-left: 0;
    line-height: 36px;
    margin-bottom: 2px;
}
/* height, width = size of the color squares */
/* think span makes squares and text side-by-side */
.pos-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 32px;
    width: 60px;
    margin-right: 5px;
    margin-left: 0;
}
.pos-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

